<?xml version="1.0" encoding="UTF-8"?>
<plugin>
        <name>
                <lang name="default">Facebook: integration</lang>
                <lang name="russian">Facebook: интеграция</lang>
        </name>
        <author>
                <lang name="default">Sergey Marin</lang>
                <lang name="russian">Сергей Марин</lang>
        </author>
        <homepage>http://sergeymarin.com/</homepage>
        <version>0.5</version>
        <settings>/facebook/</settings>
        <requires>
                <livestreet>0.4.2</livestreet>
                <plugins>

                </plugins>
        </requires>
        <description>
                <lang name="default">Integration with Facebook: publishing post to page wall, widgets</lang>
                <lang name="russian">Интеграция с Фэйсбуком: публикация на стену странички сайта, виджеты</lang>
        </description>
        <delegate>
                <module></module>
                <action></action>
                <template></template>
                <entity></entity>
        </delegate>
</plugin>