/* виджет */
#block_facebook {}
#block_facebook #facebook_fans { }
#block_facebook #facebook_recs { display:none; }
#block_facebook #plugin_author { text-align:right; color:silver; font-size:8px; margin-top: 0px; }
#block_facebook #plugin_author a { color:silver; }